# Rendered automatically by HashiCorp Vault Agent
{{ with secret "secret/data/cyberark_migrated/linux-enterprise-safe/srv-db01.local/root" }}
DB_USER="{{ .Data.data.username }}"
DB_PASS="{{ .Data.data.password }}"
DB_HOST="{{ .Data.data.address }}"
{{ end }}
